@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.cursor-pointer {
  cursor: pointer;
}

header{
  z-index: 100001 !important;
}

.btn-trade{
  @apply px-7 py-2 bg-shadesecondary text-tertiary rounded hover:bg-shadesecondary-200 transition-all duration-300 hover:-translate-y-4
}